.userCard {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
  max-width: 90%;
  margin: 2vh auto;
  transition: transform 0.2s;
}

.userCard:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.userCardActions {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
  background-color: white;
}

.userCardButton {
  background-color: #4a6eec;
  color: white;
}

.userCardDescription {
  color: #666;
  font-size: 2vw;
}

.userCardContent {
  flex-grow: 1;
  padding: 16px;
  border-radius: 0 20px 0 0;
  background-color: white;
}

.userCardContentContainer {
  background-color: #4a6eec;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}

.userCardMedia {
  background-color: #4a6eec;
  border-radius: 0 0 0 20px;
  height: 50%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10%;
  position: relative;
  width: 100%;
}

.userCardMedia img {
  background-color: white;
  border: 2px solid #4a6eec;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
  height: 50%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  left: 50%;
  max-height: 50%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.userCardModal {
  background-color: white;
  box-shadow: 24px;
  left: 50%;
  padding: 4vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 90%;
}

.userCardTitle {
  font-size: 2.5vw;
  margin-bottom: 1vh;
}
